.home-page-container {
  padding-bottom: 20px;
}

.aru-table {
  border-collapse: collapse;
  width: 100%;
}

.aru-table-header {
  border-bottom: 1px solid #dddddd;
  padding: 5px;
  background: var(--aru-blue);
  text-align: center;
}

.aru-table-cell {
  padding: 2px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  vertical-align: center;
}

.aru-table-row:hover {
  background-color: var(--aru-light-blue);
}
