<div class="footer-container">
  <div class="container-fluid">
    <div class="footer-copyright">
      Copyright &copy; 2020
      <a class="footer-copyright-link" href="http://aru-software.pl">aru-software.pl</a>
    </div>
  </div>
</div>
