<div class="header-container">
  <div class="container-fluid">
    <button class="nav-button btn btn-primary" (click)="showPopup('add-name')">
      <span class="nav-icon add-outline"></span>
      <span class="nav-label">Dodaj imię</span>
    </button>
    <button class="nav-button btn btn-primary" (click)="showPopup('draw-name')">
      <span class="nav-icon shuffle-outline"></span>
      <span class="nav-label">Losuj</span>
    </button>
  </div>
</div>
