.popup-overlay {
  background-color: rgba(128, 128, 128, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.popup-invisible-border {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
}

.popup-container {
  max-width: 600px;
  min-height: 300px;
  background-color: white;
  z-index: 2;
  position: relative;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
}

.aru-close-popup {
  float: right;
}
